<!-- <div class="card-view-wrapper">

    <div class="card-view-image">
        <img src="../../assets/black rot.JPG" alt="image" height="250px" width="299px">
    </div>
    <div class="card-view-heading">
       <strong><p>Black Rot</p></strong> 

    </div>
    <div class="card-view-about">
        <p>Black rot, caused by the fungus Guignardia bidwellii, is a destructive grapevine disease characterized by distinct symptoms on leaves and berries. Initial signs manifest as small</p>

    </div>

</div> -->
<div class="card-view-wrapper">

    <div class="card-view-image">
        <img [src]="imgsrc" alt="image" height="250px" width="299px">
    </div>
    <div class="card-view-heading">
       <strong><p>{{disease_name}}</p></strong> 

    </div>
    <div class="card-view-about">
        <p>{{disease_about}}</p>

    </div>

</div>