<div class="diseases-wrapper">
   <div class="d-header">
      <div class="wrapper">

         <h3>Did you know ?</h3>
         <p>{{selectedFact}}</p>
         <h4>No? Study more about the diseases by navigating below</h4>

      </div>
   </div>
   <hr width="1000px" style="box-shadow: 1px 1px 5px 1px lightgray;">
   <div class="d-diseases">
      <div class="d-row1">
         <a routerLink="/blackrot" routerLinkActive="active">

            <app-card-view imgsrc="../../assets/black rot.JPG" disease_name="Black Rot"
               disease_about="Black rot, caused by the fungus Guignardia bidwellii, is a destructive grapevine disease characterized by distinct symptoms on leaves and berries. Initial signs manifest as small"></app-card-view>

         </a>

         <a routerLink="/commonrust" routerLinkActive="active">
            <app-card-view imgsrc="../../assets/Common Rust.jpg" disease_name="Common Rust"
               disease_about="Common rust is a plant disease caused by the fungus Puccinia sorghi, primarily affecting corn (maize) crops. It is characterized by small, circular to elongated."></app-card-view>

         </a>

         <a routerLink="/esca" routerLinkActive="active">

            <app-card-view imgsrc="../../assets/ESCA.JPG" disease_name="ESCA"
               disease_about="The disease manifests through various symptoms, such as chlorotic patterns and tiger stripes on leaves, as well as wood necrosis in vines. Green islands"></app-card-view>

         </a>


      </div>

      <div class="d-row2">

         <a routerLink="/grayleaf" routerLinkActive="active">
            <app-card-view imgsrc="../../assets/gray leaf spot.JPG" disease_name="Grey Leaf Spot"
               disease_about=" Grey Leaf Spot primarily refers to a foliar disease that affects plants, including various crops such as corn (maize) and turfgrass."></app-card-view>
         </a>

         <a routerLink="/healthy" routerLinkActive="active">
            <app-card-view imgsrc="../../assets/healthy.JPG" disease_name="Healthy"
               disease_about="A healthy leaf is an essential component of a thriving plant, contributing to photosynthesis, nutrient transport, and overall plant vitality."></app-card-view>
         </a>

         <a routerLink="/leafblight" routerLinkActive="active">

            <app-card-view imgsrc="../../assets/Leaf Blight.JPG" disease_name="Leaf Blight"
               disease_about="Leaf blight refers to a group of plant diseases that affect the foliage of various plants, causing characteristic symptoms such as browning, spotting, wilting."></app-card-view>

         </a>


      </div>


   </div>


</div>