
*{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.esca-mainDiv{
    background-color: white;
    box-shadow: 2px 2px 10px 2px gray;
    border-radius: 20px;
    opacity: 0.95;
    width: 1200px;
    margin-left: 150px;
    padding-bottom: 30px;
}

.esca-mainHeading{
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
}
.esca-subHeading1{
  font-size: 30px;
  padding-top: 10px;
}

.esca-subHeading{
    font-size: 24px;
}

.esca-line{
    height: 3px;
    background-color: green;
}

.esca-div1{
    font-size: 20px;
}

.esca-yellowLine{
    height: 2px;
    background-color: gold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.esca-img{
    margin-top: 30px;
    margin-bottom: 30px;
   
}